body {
  font-family: "Sixtyfour Convergence";
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  margin: 0;
  flex-direction: column;
  background-color: rgb(8, 8, 8);
  overflow-x: hidden;
  /* overflow-y: scroll; */
}
canvas {
  border: 1px solid #ccc;
}

.music {
  order: 3;
  background-color: #1d1d1d;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
canvas {
  display: block;
  margin: auto;
}

.game {
  position: relative;
  margin: 20px;
  /* order: 2; */
}
script {
  position: relative;
}
header {
  padding-top: 120px;
}
@font-face {
  font-family: "Sixtyfour Convergence";
  src: url("../fonts/SixtyfourConvergence-Regular-VariableFont_BLED\,SCAN\,XELA\,YELA.ttf")
    format("truetype");
}
