/* set up canvas and body */
canvas {
  border: 1px solid #ccc;
}
header {
  /* position: relative; */
  /* order: 0;
    height: 200px; */
  width: 100vw;
  /* padding: 20px; */
  margin-bottom: 20px;
}
.home {
  height: 20px;
}
.home a {
  padding-left: 5px;
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  flex-direction: column;
  background-color: rgb(92, 92, 92);
  overflow-x: hidden;
  overflow-y: scroll;
}
.music {
  order: 3;
  background-color: rgb(13, 13, 77);
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
canvas {
  border: 1px solid #ccc;
}
/* canvas {
    background-image:'j';
  } */
.game {
  position: relative;
  margin: 20px;
  order: 2;
}
script {
  position: relative;
}
