@media (max-width: 1050px) {
  input {
    width: 130px;
  }
  .header {
    font-size: 90px;
  }

  .header-explanation {
    font-size: 20px;
  }
  .link-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .header {
    font-size: 75px;
  }
  .header-explanation {
    font-size: 15px;
  }
  .link-grid {
    grid-template-columns: 1fr;
  }
}
